<div class="text-center">
  <p class="<%= @error ? "box-alert" : "box" %>">Welcome to Blackjack!</p>
  <form action="/name_and_cash" method="post">
    <input type="text" name="name" placeholder="Name" autofocus="autofocus" autocomplete="off"><br/>
    <input type="text" name="cash" placeholder="Cash (Min 10 / Max 1000)" autocomplete="off"><br/>
    <input type="submit" value="Let's Play" class="btn btn-primary form-btn">
  </form>
</div>